.test-btn {
  background: #808080;
}

.text-primary {
  color: #326dee;
}

.bg-primary {
  background-color: #326dee;
}

.text-secondary {
  color: #1ac886;
}

.bg-secondary {
  background-color: #1ac886;
}

.text-error {
  color: #d32752;
}

.bg-error {
  background-color: #d32752;
}

.text-info {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-yellow {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-gray {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}